<div class='categories-index verticle-flex-display'>
  <div class="categories-outer-container">
      <% @categories.each do |category| %>
        <div class='category-container verticle-flex-display'>
          <%= link_to category_expenditures_url(category), class: "each-category-item horizontal-flex-display" do %>
            <div class='img-info horizontal-flex-display'>
              <%= image_tag(category.icon, alt: 'Category Icon', class: 'category-img') %>
              <div class='cat-name-at verticle-flex-display'>
                <p class='category-name'><%= category.name %> </p>
                <p class='category-at'><%= category.created_at.strftime('%d %b %Y') %></p>
              </div>
            </div>
            <p class='category-amount'>$ <%= category.expenditures_sum %></p>
          <% end %>
          <div class='category-buttons'>
            <%= button_to 'UPDATE', edit_category_path(category), method: :get, class: 'update-action' %>
            <%= button_to 'DELETE', category, method: :delete, class: 'delete-action' %>
          </div>
        </div>
      <% end %>
  </div>
  <div class='add-category-outer'>
    <%= link_to "Add new Category", new_category_path(user_id: current_user), class: "add-category" %>
  </div>
</div>